@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif;
}

.shopping-cart {
  width: 800px;
  height: auto;
  margin: 20px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 20px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  width: 18px;
  height: 17px;
  background: url("delete-icn.svg") no-repeat center;

}


button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline:0;
}

.order{outline: none;
       border: 1px solid green;
       border-radius: 3px;
       margin-top: 22px;
       cursor: pointer;
       background: green;
       color: #fff;
      font-size: 14px;
      height: 25px;
    }
    .order:hover{background: black;}

.noitem{
  text-align: center;
  color: red;
  font-family: times roman ;

}
.tbl_head_order{
                 border:2px solid #000;
}

.image img{
  width: 80px;
  height: auto;
}